<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
<div class="box">
  <ion-input label="Correo" label-placement="floating" fill="outline" placeholder="Ingrese su correo"></ion-input>

<ion-input label="pw" type="password" label-placement="floating" fill="outline" placeholder="Ingrese la contraseña"></ion-input>
<ion-button (click)="acceder()" expand="block">Acceder</ion-button> 


</div>

</ion-content>
